html, body {
	height: 95%;
	margin: 0;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plv-animacao {
	font-family: Helvetica;
	letter-spacing: 0.3em;
	font-weight: 600;
	font-size: 90px;
	text-align: center;
	color: #c20000;
	cursor: pointer;
	max-width: 800px; 
	width: 100%; 
	outline: 4px solid;
	outline-color: rgba(232, 71, 71, 0.5);
	outline-offset: 35px;
	transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
	border-radius: 5px;
}

.bloco {
	display: flex;
	justify-content: center;
	max-width: 950px; 
	width: 100%; 
	outline: 4px solid;
	outline-color: rgba(228, 208, 208, 0.5);
	outline-offset: 35px;
	transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
	border-radius: 0px;
}

.plv-animacao:hover {
	color: rgba(232, 71, 71, 0.7);
	outline-color: rgba(71, 126, 232, 0);
	outline-offset: 100px;
}

.bloco:hover {
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 1px 1px 2px #427388; 
}